.zp-btn{
	&.btn-outline-zp{
		border-color: #00988d !important;
		color: #00988d !important;
		&:hover{
		    background-color: #00988d !important;
		    border-color: #00988d !important;
		    color: #fff !important;	
		}
		&.focus,
		&:focus{
			box-shadow: 0 0 0 0.2rem rgba(0, 152, 141, 0.0);
		}
	}
}