.inline-edit-row{
	background-color: #f7f7f7;
	span{
	    font-size: 12px;
	    line-height: 2.5;
	    margin: 0;
	    padding: 0;
	    word-wrap: break-word;
	    font-style: italic;
	    color: #555;
	    font-weight: 600;
	}
}
.inline-edit-col{
	&.w-100{
		width: 100%;
	}
}