#zapContent,#zapFooter{
	margin-left: 210px;
}
#zapContent{
	height: 100%;
	.primary-site{
		padding-left: 20px;
	}
	.wrap{
		margin: 10px 20px 0 2px;
	}
}
/**dashboard*/
.admin-dashboard{
	#v-pills-tab{
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 0.075em;
		padding: 10px;
	}
}