.navbar.fixed-top,#zapContent,#zapFooter{
	margin-left: 240px;
}
#zapContent{
	height: 100%;
	.primary-site{
		padding-left: 20px;
	}
	.wrap{
		margin: 80px 20px 0 2px;
	}
}
/**Default*/
.panel {
    margin-bottom: 18px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel, .panel-default {
    border-color: #e4e4e4;
    margin-bottom: 22px;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-hide{
	display: none;
}
.zp-rounded{
	border-radius: 50px;
}
.w-15{
	width: 15% !important;
}
.w-10{
	width: 10% !important;
}
.w-5{
	width: 5% !important;
}

/**height*/
.h-35{
	height: 35px !important;
}

/**Button*/
.btn-outline-cylan{
  border-color:$clr-2a9;
  color:$clr-2a9;
  &:hover{
		background-color: $clr-2a9;
		border-color:$clr-2a9;
    color: $color_white;
	}
	&:focus{border-color:$clr-2a9;}
	&:focus, &.focus{
		box-shadow: 0 0 0 0.2rem rgba(0, 152, 141, 0.5);
	}
	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active,
	&.dropdown-toggle{
		background-color: $clr-2a9;
		border-color:$clr-2a9;
    color: $color_white;
	}
	&:not(:disabled):not(.disabled):active:focus,
	&:not(:disabled):not(.disabled).active:focus{
		box-shadow: 0 0 0 0.2rem rgba(0, 152, 141, 0.5);		
	}
}

/**Table*/
.row-actions.visible{
	position: static;
}
.row-actions {
    color: #ddd;
    font-size: 12px;
    padding: 2px 0 0;
    position: relative;
    left: -9999em;
    a, span, button{
    	font-size:12px;
    	padding: 0;
    }
}

/**pagination*/
.pagination-wrap{
	display: flex;
	-moz-display: flex;
	-webkit-display: flex;
	justify-content:flex-end;
	-moz-justify-content:flex-end;
	-webkit-justify-content:flex-end;
	position: relative;
	.pagination{
		margin-left: 0;
	}
}

/**text*/
.zp-text {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 5px;
}
.zp-text-default{
	font-size: 14px;
}
.zp-text-14{
	font-size: 14px;
}
.zp-text-16{
	font-size: 16px;
}
.zp-text-22{
	font-size: 22px;
}
.zp-color-6b{
	color:#00736b;
}
.zp-bg-clan{
	background-color: rgba(54, 197, 187, 0.8) !important;
}

/**color*/
.zp-2a9{
	color: $clr-2a9;
}

/**apperance*/
.apperance-none{
	-webkit-appearance: none;
	appearance: none;	
}

/**checkbox*/
.zp-chkbox {
    position: absolute;
		opacity: 0;
	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
		display: block;
		padding: 3px 2px;
	}
	& + label:before {
		content: '';
		margin-right: 10px;
		margin-left: 4px;
		display: inline-block;
		vertical-align: text-top;
		width: 17px;
		height: 17px;
		background: $clr-e8;
		border: 1px solid $clr-e0;
		border-radius: 3px;
		margin-top: 2px;
	}
	&:focus + label:before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}
	&:checked + label:before {
		background: $clr-3b8;
	}
	&:disabled + label {
		color: $clr-b8;
		cursor: auto;
	}
	&:disabled + label:before {
		box-shadow: none;
		background:$clr-d;
	}
	&:checked + label:after {
		content: '';
		position: absolute;
		left: 9px;
		top: 13px;
		background: $color_white;
		width: 3px;
		height: 3px;
		box-shadow: 
		2px 0 0 $color_white,
		4px 0 0 $color_white,
		4px -2px 0 $color_white,
		4px -4px 0 $color_white,
		4px -6px 0 $color_white,
		4px -8px 0 $color_white;
		transform: rotate(45deg);
	}
	&:checked ~ label {
		background: $admin-persian-green;
		color: $color_white;
	}
}

/**countable*/
.zp-countable{
	margin-bottom: 10px;
	span,p{
		// display: block;
		line-height: 1.5;
		margin-bottom: 5px;
	}
}

/**filter*/
.admin-hr-employees{
	.zp-filter-clear{
		top: 9px;
    right: 11px;		
	}
}
.admin-medical-emp{
	.zp-filter-clear{
		top: 37px;
    font-size: 14px;		
	}
}
.zp-filter-clear{
    color: #ffbcbc !important;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    top: 10px;
		// right: 155px;
		right: 23px;
		transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		z-index: 3;
		&:hover,&:focus{
			color: #ff6060 !important;
		}
}

/**print*/
.print-col{
	text-align: center;
}

/**notes*/
.zp-notes {
    border: 1px solid transparent;
    border-radius: 3px;
    background: #f5f5f5;
    width: 100%;
    /* padding: 8px; */
    /* box-shadow: 0px 3px 5px inset #00000030; */
    &.light-yellow{
    	background: #ffc;
    	border-color: #f5f5af;
		.zp-notes-header {
		    background-color: #f9f9be;
		}
    }
    &.light-green{
	    background: #cfc;
	    border-color: #c0f1c0;
		.zp-notes-header {
		    background-color: #c0f1c0;
		}
    }
    &.light-blue{
	    background: #deeffd;
	    border-color: #c3ddf3;
		.zp-notes-header {
		    background-color: #c3ddf3;
		}
    }
    &.light-violet{
	    background: #ccf;
	    border-color: #babaf1;
		.zp-notes-header {
		    background-color: #babaf1;
		}
    }
}
.zp-notes-header {
	background-color: #ececec;
	.zp-notes-title {
	    margin: 0;
	    line-height: 1;
	    font-size: 16px;
	    color: #3d3d3d;
	    font-weight: 600;
	}
}
.zp-notes-header,.zp-notes-body {
    padding: 16px;
}
.list-notes-followup {
    margin-bottom: 6px;
    border-bottom: 1px solid #b4d1e8;
    padding-bottom: 0.75em;
    padding-top: 0.5rem;
	&:last-child {
		border-bottom: none;
	}
	&:first-child {
		padding-top: 0;
	}
	p {
	    margin-bottom: 4px;
	}
}

/**Employee*/
.admin-department,
.admin-profile,
.admin-hr-employees{
	.panel{
		border-color: #e2e2e2;
	}
	.employee_wraps{
		border-top: 2px solid #53cac1;
	}
}

.employee_wrap{
	width: 155px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	.employee-photo{
		&:hover > .upload-hover{
			opacity: 0.8;
		}
	}
	.upload-hover{
		position: absolute;
		width: 100%;
		background: #0000007a;
		border-radius: 100%;
		height: 100%;
		top: 0;
		left: 0;
		text-align: center;
		padding: 10px;
		color: #fff;
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		flex-direction: column !important;
		opacity: 0;
	}
	input.file-upload{
		display: none;
	}
}
.panel{
	&.employee-photo {
	    border-color: #e2e2e2;
	    padding: 6px;
	    display: inline-block;
	    margin-bottom: 10px;
	    border-radius: 999999px;
	    min-height: 155px;
	    img{
	    	border-radius: 999999px;
	    	background-color: #dedede;
	    }
	    .upload-hover{
	    	cursor: pointer;
	    	-webkit-transition: all linear 0.3s;
	    	transition: all linear 0.3s;
	    }
	}
}

/**Register*/
.signin-container {
    border-radius: 2px;
    position: relative;
    z-index: 999;
    display: block;
    margin: 20px 0px;
    box-shadow: 2px 3px 5px #d8d8d8;
    border-top: 2px solid #53cac1;
	.sigin-info {
	    background: #555;
	    display: block;
	    overflow: hidden;
	    padding: 20px 30px;
	    text-align: center;
	}
	.signin-form {
	    background: #fff;
	    position: relative;
	    padding: 30px;
	    display: block;
	    label{
			font-size: 15px;
			color: #777;
			line-height: 1.4;	
	    }
	    .zp-bg-clan{
	    	position: absolute;
	    	top:0;
	    	right: 0;
	    	left: 0;
	    	width: 100%;
	    }
	}
	.signin-text{
	    color: #777;
	    font-size: 14px;
	    line-height: 1.4;
	    margin-bottom: 6px;
	    span.signin-v{
			color: #353535;
			font-size: 16px;
	    }	
	}
}
.admin-register,
.admin-reset{
	.sigin-info{
		background: rgba(54, 197, 187, 0.8);
		.slogan{
			color: #fff;
			font-size: 16px;
			font-weight: 300;
			margin-top: 5px;
		}
		ul {
		    display: none;
		}
	}
	.signin-text {
	    color: #777;
	    display: block;
	    font-size: 15px;
	    font-style: italic;
	    margin-bottom: 25px;
	    position: relative;
	    text-align: center;
	    &:before{
		    background: #e4e4e4;
		    content: "";
		    display: block;
		    height: 1px;
		    left: 0;
		    position: absolute;
		    right: 0;
		    top: 50%;
		}
		span {
		    background: #fff;
		    display: inline-block;
		    padding: 0 20px;
		    position: relative;
		}
	}
}

/**medical*/
.med-name{
    color: #00988d;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 12px 0;
    padding: 0;
}
#diagnosis{
	.nav-pills{
		.nav-link.active,
		.show > .nav-link{
			color:#fff;
			background-color:#00988d;
		}
	}
	.nav-link{
		color: #055651;
		padding:0.3rem 0.5rem;
	}
}
#medTotal,
.count_items{
	line-height: 1.2;
	text-align: right;
}


/**media*/
.media-frame {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.media-frame.mode-grid,
.media-frame.mode-grid .attachment-browser .attachment, 
.media-frame.mode-grid .media-frame-content, 
.media-frame.mode-grid .uploader-inline-content {
    position: static;
}

.media-frame-content {
    position: absolute;
    top: 84px;
    left: 200px;
    right: 0;
    bottom: 61px;
    height: auto;
    margin: 0;
    width: auto;
    overflow: auto;
    background: #fff;
    border-top: 1px solid #d1d1d1;
}

.media-frame.hide-menu{
	.media-frame-content,
	.media-frame-router,
	.media-frame-title,
	.media-frame-toolbar{
		 left: 0;
	}
}

.media-frame.mode-grid, 
.media-frame.mode-grid .attachment-browser .attachment,
.media-frame.mode-grid .media-frame-content,
.media-frame.mode-grid .uploader-inline-content {
    position: static;
}

.media-frame.mode-grid .media-frame-content {
    background-color: transparent;
    border: none;
}

.media-frame .attachment-browser {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.media-frame.mode-grid .attachment-browser {
    padding: 0;
}

.attachment-browser .attachment {
    padding: 2px 8px 8px;
}
.attachment-browser .attachment, .attachment-browser.hide-sidebar  .uploader-inline {
    position: absolute;
    top: 50px;
    left: 0;
    right: 300px;
    bottom: 0;
    overflow: auto;
    outline: 0;
}
.attachment-browser.hide-sidebar .attachment, .attachment-browser.hide-sidebar .uploader-inline {
    right: 0;
    margin-right: 0;
}
.zp-core-ui .attachment-list {
    position: relative;
    float: left;
    padding: 8px;
    margin: 0;
    color: #444;
    cursor: pointer;
    list-style: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25%;
    box-sizing: border-box;
}
.zp-core-ui .attachment{
    margin: 0;
    -webkit-overflow-scrolling: touch;	
}
.media-frame-content[data-columns="11"]  .attachment-list {
    width: 9.09%;
}
.media-frame-content[data-columns="10"]  .attachment-list {
    width: 10%;
}
.zp-core-ui {
	.attachment-preview {
	    position: relative;
	    box-shadow: inset 0 0 15px rgba(0,0,0,.1), inset 0 0 0 1px rgba(0,0,0,.05);
			background: #eee;
			transition: box-shadow ease 0.5s;
			box-shadow: 0 0 0 0px rgba(0, 152, 141, 0);
	    cursor: pointer;
			&:before {content: "";display: block;padding-top: 100%;}
			&:active,&:hover,&:focus{
				box-shadow: 0 0 0 3px rgba(0, 152, 141, 0.5);
				border-radius: 1px;
			}
	}
	.attachment{
		.thumbnail {
		    overflow: hidden;
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    opacity: 1;
		    transition: opacity .1s;
		    &:after {
		    	content: '';
		    	display: block;
		    	position: absolute;
		    	top: 0;left: 0;
		    	right: 0;
		    	bottom: 0;
		    	box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
		    	overflow: hidden;
		    }
			.centered {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    transform: translate(50%,50%);
				img {
				    left: 0;
				    right: 0;
				    transform: translate(-50%,-50%);
				}
			}
			img {
			    position: absolute;
			}
		}
		.landscape {
			img {
			    max-height: 100%;
			    max-width: fit-content;
			}
		}
	} 
}
.no-media-wrap{
	display: -webkit-box !important;
    display: flex !important;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 20% 0;
	.no-media{
	    color: #828282;		
		font-size: 18px;
	}
}

/**frame-modal*/
.modal{
	&.media-model * {
	    box-sizing: content-box;
	}
	&.fade{
		.modal-dialog{
			&.media-dialog{
				max-width: 100%;
				position: static;
				-webkit-transform:none;
				transform:none;
			}
		}
	}
	&.media-model {
	    top: 30px;
	    left: 30px;
	    right: 30px;
	    bottom: 30px;
	    z-index: 160000;
	    width: auto;
	    height: auto;
	}
	.edit-attachment-frame{
	    display: block;
	    height: 100%;
	    width: 100%;
		.media-frame-title {
		    left: 0;
		    right: 0;
		}
	}
}
.media-model{
	label,legend {
	    font-size: 13px;
	}
}
.edit-media-header {
    overflow: hidden;
}

.media-frame-title{
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    height: 50px;
    z-index: 200;
	h1 {
	    padding: 0 16px;
	    font-size: 22px;
	    line-height: 50px;
	    margin: 0;
	}
}
.edit-attachment-frame{
	.media-frame-content,
	.media-frame-router{
		left: 0;
	}
	.media-frame-content{
	    border-bottom: none;
	    bottom: 0;
	    top: 50px;
	}
	.attachment-details {
	    position: absolute;
	    overflow: auto;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    left: 0;
	    box-shadow: inset 0 4px 4px -4px rgba(0,0,0,.1);
	}
	.attachment-media-view {
	    float: left;
	    width: 65%;
	    height: 100%;
	}
	.attachment-media-view .thumbnail {
	    box-sizing: border-box;
	    padding: 16px;
	    height: 100%;
	}
	.attachment-media-view .details-image {
	    display: block;
	    margin: 0 auto 16px;
	    max-width: 100%;
	    max-height: 90%;
	    max-height: calc(100% - 42px);
	    background-image: linear-gradient(45deg,#c4c4c4 25%,transparent 25%,transparent 75%,#c4c4c4 75%,#c4c4c4),
	    linear-gradient(45deg,#c4c4c4 25%,transparent 25%,transparent 75%,#c4c4c4 75%,#c4c4c4);
	    background-position: 0 0,10px 10px;
	    background-size: 20px 20px;
	}
	.attachment-info {
	    overflow: auto;
	    box-sizing: border-box;
	    margin-bottom: 0;
	    padding: 12px 16px 0;
	    width: 35%;
	    height: 100%;
	    box-shadow: inset 0 4px 4px -4px rgba(0,0,0,.1);
	    border-bottom: 0;
	    border-left: 1px solid #ddd;
	    background: #f3f3f3;
	    .details,
	    .settings{
			position: relative;
			overflow: hidden;
			float: none;
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #ddd;
	    }
	    .filename {
		    font-weight: 400;
		    color: #666;
		}
	}
	input,
	textarea{
	    padding: 6px 8px;
	    line-height: 16px;
	}
}
.attachment-details {
    position: relative;
    overflow: auto;

}
.attachment-details,
.media-sidebar{
	.setting{
	    display: block;
	    float: left;
	    width: 100%;
	    margin: 1px 0;
		.value,
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=text],
		input[type=url],
		input[type=tel],
		textarea,
		&+.description{
		    box-sizing: border-box;
		    margin: 1px;
		    width: 65%;
		    float: right;
		}
	    span{
		    min-width: 30%;
		    margin-right: 4%;
		    font-size: 12px;
		    text-align: right;
		    word-wrap: break-word;
	    }
	    .value,
	    &+.description,
	    .value{
			margin: 0 1px;
			text-align: left;	
	    }
	}
}
.attachment-details,
.compat-item,
.media-sidebar{
	.setting,label{
		span{
		    float: left;
		    min-height: 22px;
		    padding-top: 8px;
		    line-height: 16px;
		    font-weight: 400;
		    color: #666;
		}
	}
}
.media-sidebar{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 267px;
    padding: 0 16px 24px;
    z-index: 75;
    background: #f3f3f3;
    border-left: 1px solid #ddd;
    overflow: auto;
    -webkit-overflow-scrolling: touch;	
}
.media-uploader-status{
	position: relative;
	margin: 0 auto;
	padding-bottom: 10px;
	max-width: 400px;
}

.attachment-info {
    overflow: hidden;
    min-height: 60px;
    margin-bottom: 16px;
    line-height: 18px;
    color: #666;
    border-bottom: 1px solid #ddd;
    padding-bottom: 11px;
    .details {
	    float: left;
	    font-size: 12px;
	    max-width: 100%;
	}
	.filename {
	    font-weight: 600;
	    color: #444;
	    word-wrap: break-word;
	}
}

.edit-attachment-frame .edit-media-header .left,
.edit-attachment-frame .edit-media-header .right,
.modal-open .media-modal-close {
    cursor: pointer;
    color: #72777c;
    background-color: transparent;
    height: 50px;
    width: 50px;
    padding: 0;
    position: absolute;
    text-align: center;
    border: 0;
    border-left: 1px solid #ddd;
    transition: color .1s ease-in-out,background .1s ease-in-out;
}

.media-modal-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    min-height: 300px;
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    background: #fcfcfc;
    -webkit-font-smoothing: subpixel-antialiased;
}
.media-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    background: 0 0;
    color: #666;
    z-index: 1000;
    cursor: pointer;
    outline: 0;
    transition: color .1s ease-in-out,background .1s ease-in-out;
}

.media-frame-router{
	position: absolute;
	top: 50px;
	left: 200px;
	right: 0;
	height: 36px;
	z-index: 200;	
}
.media-router{
    position: relative;
    padding: 0 6px;
    margin: 0;
    clear: both;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .nav-link{
    	padding: 0.3rem 1rem;
    }
}
.media-toolbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 60px;
    padding: 0 16px;
    border: 0 solid #ddd;
    overflow: hidden;	
}
.media-frame-toolbar{
    position: absolute;
    left: 200px;
    right: 0;
    bottom: 0;
    height: 60px;
    z-index: 100;
    bottom: 60px;
    height: auto;
    .media-toolbar{
		top: auto;
	    bottom: -45px;
	    height: auto;
	    overflow: visible;
	    border-top: 1px solid #ddd;
    }
    .btn{
    	height: 25px;
    	margin-top: 6px;
    }
}
.media-toolbar-primary{
    float: right;
    height: 100%;	
}

.media-frame .uploader-inline {
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}

.uploader-inline-content {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.uploader-inline-content{
	.upload-ui {
	    margin: 2em 0;
	}
	.btn-custom{
	    border: 1px solid #ccc;
	    background: whitesmoke;
	    box-shadow: 0 1px 0 #ccc;
	    vertical-align: top;		
	}
	input[type="file"]{
		width: 15%;
    	margin: auto;
	}
} 

.uploader-inline {
	h2,h3{
	    font-size: 20px;
	    line-height: 28px;
	    font-weight: 400;
	    margin: 0;		
	}

}



/**post*/
.post-wrap{
	.post-title{
		display: block;
		width: 100%;
		height: calc(1.6em + 0.75rem + 2px);
		padding: 0.375rem 0.75rem;
		font-size: 0.9rem;
		font-weight: 400;
		line-height: 1.6;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;	
	}
	#ftimg{
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
		box-shadow: inset 0 0px 17px rgba(0, 0, 0, 0.26);
		img{
			margin: 0 auto;
		}	
	}
	#rmvImg{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    line-height: 1.4;
    font-size: 12px;
    position: absolute;
    top: 7px;
    right: 7px;
    background: rgba(255, 0, 0, 0.5);
    text-align: center;
    color: #fff;
		cursor: pointer;
		transition: background 0.5s ease;
		&:hover, &:focus{
			background: #ff0000;
		}
	}
}
#featImgModal.modal.media-model *,
#newMedia.modal.media-model * {
	box-sizing: border-box !important;
}


// Autocomplete
#searchDiagnosis{
	ul{
		margin: 0;
	}
	.autocomplete-items{
		position: absolute;
	    width: 72%;
	    padding-right: 10px;
	    margin-top: 37px;
	}
}

#myform{
	ul{
		margin: 0;
	}
	.autocomplete-items{
		position: absolute;
	    width: 96%;
	}
}

/**remove*/
.remove-actions{
	display: none;
	cursor: pointer;
}
#medicineField,
.medicine-field{
	&:hover{
		.remove-actions{
			display: block;
		}
	}
}
#err-msg{
    width: fit-content;
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1000;
}