/**Medical*/
.med-wrap {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
    position: relative;
    border-radius: 3px;
    margin-bottom: 0.75rem;
    background: #1ad6c8;
    .med-head .generic {
      font-size: 18px !important;
      color: #eee !important;
    }
    &.d-flex{
      .med-body{
        width:100%;
      }
    }
    .side-item{
      width: 100px;
    }
}
.med-head, .med-body {
    padding: 1rem;
}
.med-head{
  overflow: hidden;
  position: relative;
  > i {
      position: absolute;
      font-size: 9rem;
      color: rgba(0,0,0,0.15);
      right: -5px;
      top: -1px;
      opacity: 0.5;
  }
}
.med-body {
    background: rgba(0,0,0,0.1);
    color: #fff;
}
.med-info{
  position: relative;
  .brand, .generic {
      font-size: 25px;
      color: #fff;
      line-height: 1.5;
  }
}
.quantity {
  position: absolute;
  top: 0;
  right: 0;
  #quantity-text, #quantity-num {
      display: block;
  }

  #quantity-text {
      font-size: 12px;
      color: #eee;
  }

  #quantity-num {
      font-size: 50px;
      line-height: 1;
      color: white;
  }
}

.med-list-findings{
  > .card .card-header{
    padding:0.3em 0.85rem;
  }
}
.doctors-note{
  height: auto;
  min-height: 75px;
}
/**side-item*/
.side-item .quantity {
    position: static;
}
.med-side{
    position:relative;
    overflow:hidden;
    i {
      position: absolute;
      font-size: 9rem;
      color: rgba(0, 0, 0, 0.15);
      right: -5px;
      top: -1px;
      opacity: 0.5;
  }
  .brand {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .generic {
    font-size: 16px;
  }
  p{
    font-size: 13px;
  }
}

/**side-info*/
#sideInfo{
  .list-group-item {
    border:none;
    background-color: rgba(0, 71, 66, 0.05);
  }
}
#diagnosis{
  position: relative;
}