@media (min-width: 1200px){
	.container-lg-w12{max-width: 1200px;}

	/**Profile-employee*/
	.employee_wrap{
		width: 185px;
	}
	.panel{
		&.employee-photo {
	    	min-height: 185px;
		}
	}
}
@media (min-width: 1024px){
	#sideInfo{
		// .list-group{
		// 	width: 250px !important;
		// }
		#sideList{
			position: sticky;
			position: -webkit-sticky;
			top: 83px;
		}
	}
}
@media (min-width: 769px){
	
	/**admin-navbar*/
    .navbar-expand-md .zp-navbar-show {
        display: none;
    }

	/**signin*/
    .signin-container {
        width: 430px;
        display: table;
        table-layout: fixed;
        margin: 20px 0;
	    .sigin-info{
	        display: table-cell;
	        padding: 30px;
	        text-align: left;
	        vertical-align: top;
	        width: 40%;
	        ul{
				color: #fff;
				display: block;
				font-size: 13px;
				font-weight: 300;
				margin: 30px 0 0;
				padding: 0;
				li{
					list-style: none;
					margin: 0;
					padding: 7px 0;
				}
	        }
	    }
	    .signin-form {
	        display: table-cell;
	        vertical-align: top;
	        width: 60%;
	    }
    }

	/**countable*/
	.zp-countable{
		.zp-tct{
			display: none;
		}
		.zp-ct{
			display: inline-block;
		}
	}

	/**print*/
	.print_dropdown{
		left: -28px !important;
	}
	.print-col{
		text-align: right;
	}
}
@media (min-width: 576px){
	.zp-modal-sm {
		max-width: 450px;
	}
}

@media (max-width: 768px) {
	/**default*/
	.zpwm-text-left{text-align: left !important;}
	.zpwm-text-center{text-align: center !important;}
	.zpwm-text-right{text-align: right !important;}
	.zpr-row{margin-right: auto;margin-left: auto;}


	#zapAdminMenuBg, #zapAdminMenuWrap{
		width: 100%;
		top: 130px;
	}
	.navbar.fixed-top,
	#zapContent,#zapFoote{
		margin-left: 0;
	}
	.folded{
		.navbar.fixed-top,
		#zapContent,#zapFooter{
			margin-left: 0;
		}
	}

	#zapContent{
		/**wrapper*/
		.primary-site{
			padding-left: 0;
		}
		.wrap{
			margin-right: 0;
			margin-left: 0;
		}

		/**breadcrumb*/
		.breadcrumb{
			margin-left: 0;
		}

		/**countable*/
		.zp-countable{
			p{
				display: -webkit-box;
				display: flex;
				-webkit-box-pack: justify;
				justify-content: space-between;
			}
			.zp-tct{
				display: inline-block;
			}
			.zp-ct{
				display: none;
			}
		}
		.count_items{
			text-align: left;
		}

	}
	#adminMainMenu{
		opacity: 0;
		margin-left: -999px;
		position: relative;
		z-index: 100;
	}
	// .zp-sidebClose{
	// 	display: block;
	// }
	.sticky-menu #zapAdminMenuWrap{
		height: 100%;
		overflow-y: scroll;
	}

	/**Profile-employee*/
	.employee_wrap{
		width: 135px;
	}
	.panel{
		&.employee-photo {
	    	min-height: 100%;
		}
	}

	.med-name{
		text-align: center;
	}
}
@media only screen and (max-width: 480px){
    .edit-attachment-frame .attachment-media-view {
        float: none;
        height: auto;
        width: 100%;
    }
    .edit-attachment-frame .attachment-info {
        height: auto;
        width: 100%;
    }
}