// #zapWrap #adminMainMenu{
// 	margin-left: 0 !important;
// 	opacity: 1;
// }
#zapAdminMenuBg,#zapAdminMenuWrap{
	background-color: $admin-persian-green;
	overflow: hidden;
	width: 240px;
}
#zapAdminMenuBg{
	position: fixed;
	top: 0;
	bottom: -120px;
	z-index: 1;
}
.sticky-menu{
	#zapAdminMenuWrap{
		position: fixed;
	}
}
#zapAdminMenuWrap{
	position: relative;
	float: left;
	z-index: 1000;

	.nav{
		padding: 0;
		margin: 0;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		i{
			display: inline;
			line-height: 1.5;
			margin-right: 5px;
			text-align: center;
			width: 25px;
			&[class*='fa-stack-1x']{
				top:2px;
				left:3px;
			}
		}
	}
	.nav-item{
		position: relative;
		.nav-link{
			color: #fff;
			position: relative;
	    	&:hover, &:focus{
	    		background-color: $admin-pine-green;
	    		color: $admin-powder-blue;
				&:before{
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					border-left: 4px solid #f1f1f1;
					// border-left-color: #f1f1f1;
					right: 0;
					top: 0px;
				}
	    	}
	    	&.active{
				background-color: $admin-cyprus;
				color: $navbar-default-bg;
				&:before{
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					border-left: 4px solid #f1f1f1;
					// border-left-color: #f1f1f1;
					right: 0;
					top: 0px;
				}
	    	}
		}
	}
    .zap-user-info{
	    position: relative;
	    // height: 105px;
	    // padding: 13px 15px 12px 15px;
	    height: 80px;
	    padding: 10px 15px 10px 15px;
	    white-space: nowrap;
	    p{
	    	margin: 0;
	    }
    }
    .zap-image{
	    // float: left;
	    // width: 60px;
	    // display: inline-block;
	    // margin-right: 12px;
    	// margin-top: 11px;
	    margin-right: 12px;
	    display: inline-block;
	    // margin-top: 20px;
	    margin-top: 6px;
	    float: left;
    }
    img.img-circle {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
		vertical-align: bottom !important;
	}

	.zap-info-wrap {
	    margin-left: 60px;
	    position: relative;
	    // top: 17px;
	    top: 12px;
	    display: block;
	    color: #fff;
	}

	.name {
	    white-space: nowrap;
	    -ms-text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    font-size: 14px;
	    max-width: 200px;
	    margin: 0;
	}

	.position {
	    white-space: nowrap;
	    -ms-text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    font-size: 12px;
	    max-width: 200px;
	    margin: 0;
	}
}
#collapse-button{
    display: block;
    width: 100%;
    background: 0 0;
    border: none;
    overflow: visible;
    position: relative;
    margin: 0;
    cursor: pointer;
    height: 39px;
    padding: 0.5rem 1rem;
    text-align: left;
    color: $navbar-default-bg;
    outline:none;
    &:hover,&:focus{
    	background-color: $admin-pine-green;
    	color: $admin-powder-blue;
		&:before{
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			border-left: 4px solid #f1f1f1;
			right: 0;
			top: 0;
		}
    }
}

/**dropdown*/
.zp-dropdown{
	&.nav{
		background-color: #004742;
		.nav-item{
			width: 100%;
		}
		.zp-sublink-dropdown{
			&.nav-link{
				width: 100%;
			}
		}
	}
}
/**Collapsed*/
.folded{
	#zapAdminMenuBg,#zapAdminMenuWrap{
		width: 78px;
	}
	#zapAdminMenuWrap{
		.nav{
			width: 78px;
		}
		.zap-user-info{
			padding: 10px 6px;
		}
		.zap-image{
			margin-right: 0;
			margin-left: 12px;
			width: 38px;
		}
		.zap-info-wrap{
			display: none;
		}
		.collapse-label{
			display: none;
		}
	}
	#zapContent, #zapFooter{
		margin-left: 78px;
	}
}

/**dashboard-sidebar*/



/**dashboard*/
.admin-dashboard{
	#v-pills-tab{
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 0.075em;
		padding: 10px;
	}
	.nav-pills{
		.nav-link{
			color: #6c757d;
			position: relative;
			margin-left: 15px;
			padding: 0.5rem 0.75rem;
			transition: ease-in 0.7s all;
			&:before{
				content: "";
				display: inline-block;
				position: absolute;
				background-color: transparent;
				width: 90%;
				height: 2px;
				left: 0;
				right: 0;
				bottom: 0px;
				margin: auto;
			}
			&:hover{
				color: #00988d;
			    &:before{
					background-color: #00988d;
			    }
			    .dash-badge{
			    	background-color: #00988d !important;
			    }
			}
		}
		.nav-link.active,
		.show > .nav-link{
		    background-color: transparent;
		    color: #00988d;
		    &:before{
				background-color: #00988d;
		    }
		    .dash-badge{
		    	background-color: #00988d !important;
		    }
		}
		.dash-badge{
		    background-color: #6c757d !important;
			color: #fff;
			text-align: center;
		}
	}
}
#zapWrap{
	#Notifs{
		background-color: #2dc3b8 !important;
	}
}


/**notification*/
#v-new-consultation-tab, #v-follow-up-tab, #v-inc-requirements-tab, #v-inc-emp-6months-tab, #v-inc-preEmp-tab{
	span{
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		font-size: 12px;
		height: 21px;
		padding: 2px;
		width: 21px;
		margin-left: 5px;
	}
}

#Notifs{
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	font-size: 12px;
	height: 21px;
	padding: 2px;
	width: 21px;
}

/**Mobile-hide-show-btn*/
.zp-navbar-show {
    padding: 0.25rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.navbar-light .zp-navbar-show {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}
.zp-sidebClose{
	display: none;
	position: absolute;
    right: 5px;
    z-index: 15;
    i {
	    font-size: 28px;
	    color: #fff;
	}	
}